.header {
  margin-top: 15px;
  display: flex;
  align-items: center;
  align-content: center;
}

.logo {
  width: 175px;
  margin-right: 10px;
  border-radius: 5px;
}

.search {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
}

.search::placeholder {
  background-image: url(../search.svg);
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: contain;
  padding-left: 35px;
  font-size: 18px;
}