.item {
    display: flex;
    align-items: center;
    margin: 6px auto;
    font-size: 20px;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 100%;
    min-height: 60px;
  }
  
  .item:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  
  .item:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .item:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }

  .item svg {
    fill: white;
  }


  .value {
    /* width: 100%; */
    flex-basis: 100%;
    color: white;
    font-weight: bold;
    overflow:scroll;
  }

  .star,
  .done,
  .del  {
    width: 24px;
    height: 24px;
    margin: auto 5px;
    flex-shrink: 0;
  }  

  .done {
    /* margin: 0 15px; */
  }

  .line_through {
    text-decoration-line: line-through;
    text-decoration-thickness: 4px;
  }

  .done_task {
    height: 28px;
    margin-right: 5px;
  }