.item {
    display: flex;
    align-items: center;
    margin: 4px auto;
    font-size: 18px;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 100%;
    height: 60px;
  }
  
  .item:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  
  .item:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .item:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }

  .item svg {
    fill: white;
  }


  .value {
    width: 100%;
    color: white;
    font-weight: bold;
  }

  .star {
    width: 20px;
  }  

  .done {
    width: 20px;
    margin: 0 10px;
  }

  .del {
    width: 20px;
  }

  .line_through {
    text-decoration-line: line-through;
    text-decoration-thickness: 4px;
  }

  .done_task {
    height: 30px;
    margin-right: 5px;
  }