* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #131420;
}

.App {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
}